* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  color: #444;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
}

body {
  padding: 2em 20% 1em;
  text-align: center;
}

h1 {
  font-weight: normal;
  margin-bottom: 3em;
}

h2 {
  margin-top: 2em;
}

.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

button,
input[type="submit"],
input[type="button"] {
  border-radius: 2px;
  border: 0;
  background: #777;
  color: #FFF;
  cursor: pointer;
  font-size: larger;
  padding: 8px 14px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  background: #666;
}
@media screen and (max-width: 400px) {
  button, input {
    display: block;
    margin: auto;
  }
}


.triggers > div {
  margin-bottom: 2em;
}


/* Menu */
x-menu {
  text-align: left;
  font-size: larger;
}
x-menu nav ul {
  padding: 0;
  margin: 0;
}
x-menu nav li {
  list-style-type: none;
}
x-menu .header {
  background: #777;
  color: #FFF;
  overflow: hidden;
  padding: 1em .4em;
}
x-menu .title {
  float: left;
}
x-menu .close {
  color: #FFF;
  float: right;
  text-decoration: none;
}
x-menu nav a {
  border: 1px solid #999;
  border-width: 0 0 1px;
  color: #FFF;
  display: block;
  min-width: 200px;
  padding: 1em .4em;
  text-decoration: none;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
x-menu nav a:hover,
x-menu nav a:focus {
  background: #BBB;
}

x-menu[position="top"] .header,
x-menu[position="bottom"] .header{
  height: 100%;
}
x-menu[position="top"] .header,
x-menu[position="bottom"] .header,
x-menu[position="top"] nav li,
x-menu[position="bottom"] nav li {
  width: 20%;
}
x-menu[position="top"] nav a,
x-menu[position="bottom"] nav a {
  border-width: 0 1px 0 0;
  min-width: 0;
}
x-menu[position="top"] nav li,
x-menu[position="bottom"] nav li,
x-menu[position="top"] .header,
x-menu[position="bottom"] .header {
  float: left;
}

@media screen and (max-width: 400px) {
  x-menu[position="top"] .close,
  x-menu[position="bottom"] .close {
    display: block;
    float: none;
    text-align: center;
  }

  x-menu[position="top"] nav,
  x-menu[position="bottom"] nav {
    background: #777;
  }

  x-menu[position="top"] nav ul,
  x-menu[position="bottom"] nav ul {
    overflow: hidden;
  }

  x-menu[position="top"] nav li,
  x-menu[position="bottom"] nav li {
    background: #CCC;
    width: 40%;
  }

  x-menu[position="top"] nav li:nth-child(3),
  x-menu[position="bottom"] nav li:nth-child(3) {
    clear: left;
  }
}
