x-menu {
  visibility: hidden;
  position: fixed;
  background: #CCC;
}

x-menu[effect="slide"] {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

x-menu[open] {
  visibility: visible;
}

x-menu[position="left"] {
  left: -100%;
  top: 0;
  bottom: 0;
}
x-menu[position="left"][open] {
  left: 0;
}

x-menu[position="right"] {
  bottom: 0;
  right: -100%;
  top: 0;
}
x-menu[position="right"][open] {
  right: 0;
}

x-menu[position="top"] {
  top: -100%;
  right: 0;
  left: 0;
}
x-menu[position="top"][open] {
  top: 0;
}

x-menu[position="bottom"] {
  bottom: -100%;
  right: 0;
  left: 0;
}
x-menu[position="bottom"][open] {
  bottom: 0;
}
