x-menu {
  background: #CCC;
  position: fixed;
  visibility: hidden;
  z-index: 1000;
}

.menu-push {
  position: relative;
  overflow: hidden;
}

.menu-push,
x-menu[effect="slide"],
x-menu[effect="push"] {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

x-menu[open] {
  visibility: visible;
}

x-menu[position="left"] {
  left: 0;
  top: 0;
  bottom: 0;
}

x-menu[position="right"] {
  bottom: 0;
  right: 0;
  top: 0;
}

x-menu[position="top"] {
  top: 0;
  right: 0;
  left: 0;
}

x-menu[position="bottom"] {
  bottom: 0;
  right: 0;
  left: 0;
}
